.dashboard {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
}

.dashboard-left {
  border-right: 1px solid #e0e0e0;
  overflow: auto;
  display: flex;
}

.dashboard-right {
  flex: 1;
  overflow: hidden;
  display: flex;
}

